# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Common places for build details that don't need to be committed
.go/
bin/
vendor/

*.kubeconfig
coverage.out
gosec.json
