# Copyright Contributors to the Open Cluster Management project

{{- if semverCompare "< 1.16.0" .Capabilities.KubeVersion.Version }}
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
    app: {{ template "iamPolicyController.fullname" . }}
    chart: {{ template "iamPolicyController.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  name: iampolicies.policy.open-cluster-management.io
spec:
  group: policy.open-cluster-management.io
  names:
    kind: IamPolicy
    listKind: IamPolicyList
    plural: iampolicies
    singular: iampolicy
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: IamPolicy is the Schema for the iampolicies API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: IamPolicySpec defines the desired state of IamPolicy
          properties:
            clusterRole:
              description: Name of the cluster role referenced by the cluster role
                bindings, defaults to "cluster-admin" if none specified
              minLength: 1
              type: string
            ignoreClusterRoleBindings:
              description: 'A list of regex values signifying which cluster role binding
                names to ignore. By default, all cluster role bindings that have a
                name which starts with system: will be ignored. It is recommended
                to set this to a stricter value.'
              items:
                minLength: 1
                type: string
              type: array
            labelSelector:
              additionalProperties:
                type: string
              type: object
            maxClusterRoleBindingUsers:
              description: Maximum number of cluster role binding users still valid
                before it is considered non-compliant
              minimum: 1
              type: integer
            namespaceSelector:
              description: Selecting a list of namespaces where the policy applies
              properties:
                exclude:
                  items:
                    minLength: 1
                    type: string
                  type: array
                include:
                  items:
                    minLength: 1
                    type: string
                  type: array
              type: object
            remediationAction:
              description: enforce, inform
              enum:
              - Inform
              - inform
              type: string
            severity:
              description: low, medium, high, or critical
              enum:
              - low
              - Low
              - medium
              - Medium
              - high
              - High
              - critical
              - Critical
              type: string
          type: object
        status:
          description: IamPolicyStatus defines the observed state of IamPolicy
          properties:
            compliancyDetails:
              additionalProperties:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
              type: object
            compliant:
              description: ComplianceState shows the state of enforcement
              type: string
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
{{ else }}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: iampolicies.policy.open-cluster-management.io
spec:
  group: policy.open-cluster-management.io
  names:
    kind: IamPolicy
    listKind: IamPolicyList
    plural: iampolicies
    singular: iampolicy
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: IamPolicy is the Schema for the iampolicies API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: IamPolicySpec defines the desired state of IamPolicy
            properties:
              clusterRole:
                description: Name of the cluster role referenced by the cluster role
                  bindings, defaults to "cluster-admin" if none specified
                minLength: 1
                type: string
              ignoreClusterRoleBindings:
                description: 'A list of regex values signifying which cluster role
                  binding names to ignore. By default, all cluster role bindings that
                  have a name which starts with system: will be ignored. It is recommended
                  to set this to a stricter value.'
                items:
                  minLength: 1
                  type: string
                type: array
              labelSelector:
                additionalProperties:
                  type: string
                type: object
              maxClusterRoleBindingUsers:
                description: Maximum number of cluster role binding users still valid
                  before it is considered non-compliant
                minimum: 1
                type: integer
              namespaceSelector:
                description: Selecting a list of namespaces where the policy applies
                properties:
                  exclude:
                    items:
                      minLength: 1
                      type: string
                    type: array
                  include:
                    items:
                      minLength: 1
                      type: string
                    type: array
                type: object
              remediationAction:
                description: enforce, inform
                enum:
                - Inform
                - inform
                type: string
              severity:
                description: low, medium, high, or critical
                enum:
                - low
                - Low
                - medium
                - Medium
                - high
                - High
                - critical
                - Critical
                type: string
            type: object
          status:
            description: IamPolicyStatus defines the observed state of IamPolicy
            properties:
              compliancyDetails:
                additionalProperties:
                  additionalProperties:
                    items:
                      type: string
                    type: array
                  type: object
                type: object
              compliant:
                description: ComplianceState shows the state of enforcement
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
{{- end }}
