# Copyright Contributors to the Open Cluster Management project

kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ include "controller.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "controller.fullname" . }}
    chart: {{ include "controller.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ include "controller.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
      labels:
        app: {{ include "controller.fullname" . }}
        chart: {{ include "controller.chart" . }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.global.imageOverrides.config_policy_controller }}"
        imagePullPolicy: "{{ .Values.global.imagePullPolicy }}"
        command: ["config-policy-controller"]
        args:
          - "--enable-lease=true"
          - "--cluster-name={{ .Values.clusterName }}"
          {{- if semverCompare "< 1.14.0" .Capabilities.KubeVersion.Version }}
          - --legacy-leader-elect=true
          {{- end }}
        env:
          - name: WATCH_NAMESPACE
            value: "{{ .Values.clusterNamespace }}"
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: OPERATOR_NAME
            value: {{ include "controller.fullname" . }}
          {{- if .Values.global.proxyConfig }}
          - name: HTTP_PROXY
            value: {{ .Values.global.proxyConfig.HTTP_PROXY }}
          - name: HTTPS_PROXY
            value: {{ .Values.global.proxyConfig.HTTPS_PROXY }}
          - name: NO_PROXY
            value: {{ .Values.global.proxyConfig.NO_PROXY }}
          {{- end }}
        livenessProbe: null
        readinessProbe: null
        resources: {{- toYaml .Values.resources | nindent 10 }}
        securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
        privileged: false
        readOnlyRootFilesystem: true
      volumes:
        - name: klusterlet-config
          secret:
            secretName: {{ .Values.hubKubeconfigSecret }}
      {{- if .Values.global.imagePullSecret }}
      imagePullSecrets:
      - name: "{{ .Values.global.imagePullSecret }}"
      {{- end }}
      affinity: {{ toYaml .Values.affinity | nindent 8 }}
      tolerations: {{ toYaml .Values.tolerations | nindent 8 }}
      nodeSelector: {{ toYaml .Values.global.nodeSelector | nindent 8 }}
      hostNetwork: false
      hostPID: false
      hostIPC: false
      serviceAccount: {{ include "controller.serviceAccountName" . }}
      securityContext:
        runAsNonRoot: true
