name: Linting and Unit tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  linting-and-unit-tests:
    runs-on: ubuntu-latest
    name: Linting and Unit tests
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Verify modules
      run: |
        go mod verify

    - name: Some quality checks
      run: |
        make fmt
        git diff --exit-code
        make lint
        make gosec-scan

    - name: Unit and Integration Tests
      run: |
        make test
